.navbar .brand {
  color:#eee;
  text-shadow:#777777 0 1px 0;
}

.navbar-inverse .navbar-inner {
  background-color: rgba(254, 116, 0, 1);
  background-image: -moz-linear-gradient(top, #FF6300, #FF8226);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF6300), to(#FF8226));
  background-image: -webkit-linear-gradient(top,#FF6300, #FF8226);
  background-image: -o-linear-gradient(top, #FF6300, #FF8226);
  background-image: linear-gradient(to bottom, #FF6300, #FF8226);
  background-repeat: repeat-x;
  border-color: #d85515;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffd85515', endColorstr='#ffec6320', GradientType=0);
  color:#eee;
}

.navbar .nav > li > a {
  color:#eee;
  text-shadow:#ccc 0 0 0;
}

.navbar .operations > li > a {
  color:#1d2e7b;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #d85515;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #d85515;
}

.navbar-inverse .navbar-search .search-query {
  background-color:#dedede;
  border-color:#dedede;
  color:#111111;
}

.navbar-inverse .divider-vertical {
  border-right-color: #39436d;
  border-left-color: #20317d;
}

a, a:hover, .sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .summary-number {
	color: #d85515;
}

ul.yiiPager > li > a{
	color: #d85515!important;
	
}

ul.yiiPager .selected a {
  background-color: #d85515;
  background-image: -moz-linear-gradient(top, #d85515, #ec6320);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d85515), to(#ec6320));
  background-image: -webkit-linear-gradient(top, #d85515, #ec6320);
  background-image: -o-linear-gradient(top, #d85515, #ec6320);
  background-image: linear-gradient(to bottom, #d85515, #ec6320);
  background-repeat: repeat-x;
  border-color: #d85515;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffd85515', endColorstr='#ffec6320', GradientType=0);
  color:#DEDEDE !important;
  text-shadow:#CCCCCC 0 0 0;
  font-weight:bold;
}
.hero-unit-orange{
  padding: 30px;
  margin-bottom: 30px;
  background-color: #FF8839;
  border-radius: 6px;
  background-color: rgba(254, 116, 0, 1);
    background-image: linear-gradient(to bottom, #ff6300, #ff8226);
    background-repeat: repeat-x;
    border-color: #d85515;
    color: #eee;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px -1px 10px rgba(0, 0, 0, 0.1);
}
.hero-unit-orange .row{
  color: #fff;
}
.well-orange {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #FFF1E4;
    border: 1px solid #FFBF80;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}